<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') -%>
  <style>
    .title {
      color: #cea135;
    }
  </style>
  <body>
    <!-- Start your project here-->
    <!--Section: Design Block-->
    <header>
      <!-- Navbar -->
      <%- include('partials/navBar') -%>
      <!-- Navbar -->
      <!-- Container for demo purpose -->
      <%- include('home-parts/home-intro-banner') -%>
      <!-- Container for demo purpose -->
    </header>

    <!--Section: Design Block-->
    <!-- Container for demo purpose -->
    <div class="container my-4 py-5">

      <!-- Container for demo purpose -->
      <%- include('home-parts/section2') -%>
      <!-- Container for demo purpose -->

      <!-- Container for demo purpose -->
      <%- include('home-parts/chooseUs') -%>
      <!-- Container for demo purpose -->

      <!-- Container for demo purpose -->
      <%- include('home-parts/home-projects') -%>
      <!-- Container for demo purpose -->

      <!-- Container for demo purpose -->
      <%- include('home-parts/section4') -%>
      <!-- Container for demo purpose -->

      <!-- Container for demo purpose -->
      <%- include('home-parts/contact-section') -%>
      <!-- Container for demo purpose -->

    </div>
    <!-- Container for demo purpose -->

    <!-- Footer -->
    <%- include('partials/footer') -%>
    <!-- Footer -->

    <!-- End your project here-->
  </body>
  <!-- Footer -->
  <%- include('partials/scripts') -%>
  <!-- Footer -->
</html>
