<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') -%>

  <body>
    <!-- Start your project here-->
    <!--Section: Design Block-->
    <header>
      <!-- Navbar -->
      <%- include('partials/navBar') -%>
      <!-- Navbar -->

      <!--Section: Design Block-->
      <section itemprop="Metal-Weld Specialties">
        <!-- Intro -->
        <div id="intro" class="bg-image vh-100"
             style="background: url('/img/home-intro.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;">
          <img src="/img/60years.png" class="img-fluid img-position rounded-circle logoBrandSize" alt="img">
          <div class="mask" style="background-color: rgba(63,81,181,.1);">
            <div class="container-fluid introFit" style="padding-left: 85px;">
              <div class="row" itemid="company intro">
                <div class="col-md-12">
                  <div class="text-white">
                    <h1 class="display-4 font-weight-bold text-uppercase my-4">Metal-Weld Specialties</h1>
                    <hr class="mb-4" style="opacity: 1; width: 200px;">
                    <h3 class="fw-bold mb-3"> Fabricating & Erecting for America's most recognized corporations since 1961.</h3>
                    <a href="contact.ejs" class="btn btn-black btn-lg m-2">Contact Us</a> <a href="about.ejs" class="btn btn-white btn-lg m-2">About Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Intro -->
      </section>
      <!--Section: Design Block-->
    </header>

    <!--Section: Design Block-->
    <!-- Container for demo purpose -->
    <div class="container my-4 py-5">

      <!--Section: Design Block-->
      <section class="text-center mb-8" itemprop="Our Experience">

        <h3 class="mb-5">Our Experience Meets Your Needs Head On</h3>

        <p class="mb-5 mx-auto w-responsive">
          When It comes to metal fabrication, we have done it for 60 plus years. So, when you have a project in mind and only want the most trusted and reliable service in town,
          give us a call.
        </p>

        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0" itemid="Experience">
            <i class="fas fa-cubes fa-3x text-primary mt-3"></i>
            <h5 class="card-title my-4">Family Owned & Operated</h5>
            <p class="card-text mb-3">
              Hands down, we are among the highest quality of metal welding and fabrication at our office locations.
            </p>
          </div>
          <div class="col-md-4 mb-4 mb-md-0" itemid="Community">
            <i class="fas fa-users fa-3x text-primary mt-3"></i>
            <h5 class="card-title my-4">Client Focused</h5>
            <p class="card-text mb-3">
              All of our workers and offices are licensed in the work that they do and highly experienced in providing quality.
            </p>
          </div>
          <div class="col-md-4 mb-0" itemid="Our Trades">
            <i class="fas fa-tools fa-3x text-primary mt-3"></i>
            <h5 class="card-title my-4">AISC Certified</h5>
            <p class="card-text mb-3">
              Not only do we build up our community, we also get involved. We ensure that our structures last for many years.
            </p>
          </div>
        </div>

      </section>
      <!--Section: Design Block-->

      <section class="container-fluid text-center mb-9">
        <div class="row">
          <div class="col-lg-6 col-md-12 p-3">
            <div>
              <div class="text-center">
                <img
                        class="img-fluid"
                        src="/img/60years.png"
                        style="width: 150px; height: 150px;"
                />
                <h2 class="h1">Why Choose Us?</h2>
                <p class="text-muted">
                  Metal-Weld Specialties, Inc. is located in Peoria Arizona and has been family owned and operated since 1962. We adhere to the highest quality standards in the industry. Our team of professionals deliver high quality, complex steel projects to owners, general contractors and developers in Arizona, California, Hawaii and Nevada.

                </p>
                <a
                        class="btn btn-primary btn-lg"
                        href="projects.ejs"
                        role="button"
                >View Projects</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 p-3">
            <div class="d-flex justify-content-center align-items-center" style="height: 45vh;">
              <img src="/assets/teenchallengearizona.jpg"
                   class="img-fluid rounded shadow-lg" alt="img">
            </div>
          </div>
        </div>

      </section>

      <!-- Section: Design Block -->
      <%- include('home-parts/faq') -%>
      <!-- Section: Design Block -->


      <!-- Container for demo purpose -->
      <%- include('home-parts/contact-section') -%>
      <!-- Container for demo purpose -->

    </div>
    <!-- Container for demo purpose -->

    <!-- Footer -->
    <%- include('partials/footer') -%>
    <!-- Footer -->

    <!-- End your project here-->
  </body>

  <!-- MDB ESSENTIAL -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- MDB PLUGINS -->
  <script type="text/javascript" src="plugins/js/all.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
</html>
