<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>
<style>
    body {
        background: url('https://thumbs.dreamstime.com/b/welding-steel-man-industry-46093385.jpg')
        no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h1 {
        color: white;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

</header>

<!--Main layout-->
<main style="margin-top: 70px; margin-bottom: 70px;">
    <div class="container text-dark my-5 py-5">
        <div class="card my-5 p-3">
            <h1 class="display-3 fw-bold text-center text-dark mb-3" itemid="about us">Admin Login</h1>

            <div class="row justify-content-center text-dark">
                <div class="col-md-10">
                    <form method="post" action="/login/user" enctype="multipart/form-data">

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="text" name="username" placeholder="Username" id="loginName" class="form-control" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" name="password" placeholder="Password" id="loginPassword" class="form-control" />
                        </div>

                        <!-- 2 column grid layout -->
                        <div class="row mb-4">
                            <div class="col-md-6 d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check mb-3 mb-md-0">
                                    <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                    <label class="form-check-label text-dark" for="loginCheck"> Remember me </label>
                                </div>
                            </div>

                            <div class="col-md-6 d-flex justify-content-center">
                                <!-- Simple link -->
                                <a href="mailto:stephenbrooks714@gmail.com" class="text-dark fw-bold">Experiencing logging issues?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Main layout-->

<%- include('partials/footer') -%>

</body>
<%- include('partials/scripts') -%>
</html>
