<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

</header>

<!--Section: Design Block-->
<!-- Container for demo purpose -->
<div class="container-fluid my-3 py-4">
    <!-- Container for demo purpose only -->
    <div class="container text-center pt-5" itemscope itemtype ="Projects">
        <% if(loggedIn){ %>
            <% for(i=0; i < user.length; i++) { %>
                <h2 class="text-warning text-center mb-3">
                    Welcome <%= user[i].username %>, today is <span id="welcome"></span>
                </h2>
            <% } %>
        <br>
        <h2 class="display-3">Your Projects Page</h2>
        <h4>
          It is recommended to be on a PC when submitting the projects because the images come out best that way
        </h4>
        <br><br>
        <% } else { %>
        <br>
        <h1 class="display-3">Metal-Weld Specialties</h1>
        <h4>We have four locations that service across the United States, they are in Arizona, California, Nevada & Hawaii.</h4>
        <br><br>
        <% } %>
        <!-- Section: Design Block -->
        <section itemid="projects">
            <div class="row">
                <%- include('project-parts/carousel-parts') -%>
            </div>
        </section>
    </div>
    <!-- Container for demo purpose only -->
</div>
<!-- Container for demo purpose -->

<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->

<!-- End your project here-->
</body>

<%- include('partials/scripts') -%>
</html>
