<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>
<style>
    body {
        background: url('https://thumbs.dreamstime.com/b/welding-steel-man-industry-46093385.jpg')
        no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h1 {
        color: white;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

</header>

<!--Main layout-->
<main style="margin-top: 120px; margin-bottom: 70px;">
    <div class="container text-dark my-5 py-5">
        <div class="card my-5 m-3">
            <h1 class="display-3 fw-bold text-center text-dark mb-3" itemid="about us">New User</h1>
            <% if(errors != null && errors.length > 0){ %>
                <ul class="list-group text-center list-group-light mb-5">
                    <% for(i=0; i < errors.length; i++){ %>
                        <li class="list-group-item px-3 border-0 rounded-3 list-group-item-danger mb-2">
                            <%= errors[i] %>
                        </li>
                    <% } %>
                </ul>
            <% } %>
            <div class="row justify-content-center text-dark">
                <div class="col-md-10">
                    <form method="post" action="/store/user" enctype="multipart/form-data">

                        <!-- Name input -->
                        <div class="form-outline mb-3">
                            <input type="text" id="registerName" placeholder="name" required class="form-control" />
                        </div>

                        <!-- Username input -->
                        <div class="form-outline mb-3">
                            <input type="text" name="username" placeholder="username" required id="registerUsername" class="form-control" />

                        </div>


                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" placeholder="password" required name="password" id="registerPassword" class="form-control" />

                        </div>


                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-3">Register</button>
                        <div class="text-center text-dark">
                            <p>Already a member? <a href="/login" class="text-info font-weight-bold">Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Main layout-->

<%- include('partials/footer') -%>

</body>
<%- include('partials/scripts') -%>
</html>