<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/navLogo.png" height="65" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-bg-dark"
                           aria-current="page" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/contact">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/projects">
                            Projects
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex flex-row">
                    <% if(loggedIn) { %>
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link text-white bg-dark"
                               aria-current="page" href="/staffAccount">Admin
                            </a>
                        </li>
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link text-dark"
                               aria-current="page" href="/logout">Logout
                            </a>
                        </li>
                    <% } %>

                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="https://www.linkedin.com/company/metal-weld-specialties-inc-/about/about.ejs" target="_blank">
                            <img src="/img/linkedin.png" class="img-fluid" style="width: 25px; height: 25px;" alt="linkedin profile">
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="https://www.google.com/maps/place/8137+N+83rd+Ave,+Peoria,+AZ+85345/@33.5549685,-112.2364095,17z/data=!3m1!4b1!4m6!3m5!1s0x872b6a771e1dc811:0x5f25c223e490ee5e!8m2!3d33.554964!4d-112.2342155!16s%2Fg%2F11c5nxht9f" target="_blank">
                            <img src="https://play-lh.googleusercontent.com/Kf8WTct65hFJxBUDm5E-EpYsiDoLQiGGbnuyP6HBNax43YShXti9THPon1YKB6zPYpA=w240-h480-rw" class="img-fluid" style="width: 25px; height: 25px;" alt="linkedin profile">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

</header>

<!--Main layout-->
<main style="margin-top: 100px; margin-bottom: 70px;">
    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-md-6 text-left">
                <a href="/projects" class="text-dark zoom font-weight-bold">
                    <i class="far fa-arrow-alt-circle-left"></i> All Projects
                </a>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" class="urlCopy">
                    <span class="text-dark font-weight-bold">Share This Post <i class="fas fa-share-alt"></i></span>
                </a>
            </div>
        </div>
        <h1 class="display-4 font-weight-bold text-center text-dark">
            <%= arizona.title %>
        </h1>
        <div class="mt-5">
            <div class="row">
                <div class="col-md-6 p-2">
                    <p class="lead text-dark">
                        <%= arizona.body %>
                    </p>
                </div>
                <div class="col-md-6 p-2">
                    <img src="<%= arizona.image %>" height="100%" width="100%" class="img-fluid rounded shadow-lg" alt="<%= arizona.title %>">
                    <p class="text-dark mt-3">
                        Date Posted: <%= arizona.datePosted.toLocaleString() %>, By <%= arizona.userid.username %>
                    </p>
                    <% if(loggedIn){ %>
                        <a href="/delete/arizona/<%= arizona._id %>" class="btn btn-warning btn-large">Delete Post</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Main layout-->


<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->

<!-- End your project here-->
</body>

<%- include('partials/scripts') -%>
<script>
    var $temp = $("<input>");
    var $url = $(location).attr('href');
    $('.urlCopy').on('click', function() {
        $("body").append($temp);
        $temp.val($url).select();
        document.execCommand("copy");
        $temp.remove();
        $("span").text("URL copied!");
    })
</script>
</html>
