<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

</header>

<!--Main layout-->
<main style="margin-top: 100px; margin-bottom: 70px;">
    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-md-12 text-left">
                <a href="/projects" class="text-dark zoom font-weight-bold">
                    <i class="far fa-arrow-alt-circle-left"></i> All Projects
                </a>
            </div>
        </div>
        <div class="mt-5">
            <div class="row">
                <div class="col-md-6 p-2">
                    <h1 class="display-4 mt-5 font-weight-bold text-black">
                        <%= hawaii.title %>
                    </h1>
                    <p class="text-muted">
                        Project Location: <%= hawaii.location %> <br>
                        Project Posted On: <%= hawaii.datePosted.toLocaleString() %>
                    </p>
                    <p class="lead text-dark">
                        <%= hawaii.body %>
                    </p>
                </div>
                <div class="col-md-6 p-2">
                    <img src="<%= hawaii.image %>" height="100%" width="100%" class="img-fluid rounded shadow-lg" alt="<%= hawaii.title %>">
                    <p class="text-dark mt-3">
                        Date Posted: <%= hawaii.datePosted.toLocaleString() %>, By <%= hawaii.userid.username %>
                    </p>
                    <% if(loggedIn){ %>
                        <a href="/delete/hawaii/<%= hawaii._id %>" class="btn btn-warning btn-large">Delete Post</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Main layout-->


<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->

<!-- End your project here-->
</body>

<%- include('partials/scripts') -%>
<script>
    var $temp = $("<input>");
    var $url = $(location).attr('href');
    $('.urlCopy').on('click', function() {
        $("body").append($temp);
        $temp.val($url).select();
        document.execCommand("copy");
        $temp.remove();
        $("span").text("URL copied!");
    })
</script>
</html>
