<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

</header>

<!--Main layout-->
<main style="margin-top: 70px; margin-bottom: 70px;">
    <div class="container my-5">
        <div class="row mb-4 text-center">
            <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                <a href="/projects" class="text-dark zoom font-weight-bold">
                    <i class="far fa-arrow-alt-circle-left"></i> All Projects
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                <a href="#" class="urlCopy">
                    <span class="text-dark font-weight-bold">Share This Post <i class="fas fa-share-alt"></i></span>
                </a>
            </div>
        </div>
        <div class="mt-5">
            <div class="row">
                <div class="col-md-6 p-2">
                    <h1 class="display-4 mt-5 font-weight-bold text-dark">
                        <%= arizonaInfo.title %>
                    </h1>
                    <p class="text-muted">
                        Project Location: <%= arizonaInfo.location %> <br>
                        Project Posted On: <%= arizonaInfo.datePosted.toLocaleString() %>
                    </p>
                    <p class="lead text-dark">
                        <%= arizonaInfo.body %>
                    </p>
                </div>
                <div class="col-md-6 p-2">
                    <div class="sticky-top">
                        <img src="<%= arizonaInfo.image %>" height="100%" width="100%" class="img-fluid rounded shadow-lg" alt="<%= arizonaInfo.title %>">
                        <p class="text-dark mt-3">
                            Date Posted: <%= arizonaInfo.datePosted.toLocaleString() %>, By <%= arizonaInfo.userid.username %>
                        </p>
                        <% if(loggedIn){ %>
                            <a href="/delete/arizona/<%= arizonaInfo._id %>" class="btn mt-3 btn-warning btn-large">Delete Post</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Main layout-->


<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->

<!-- End your project here-->
</body>

<%- include('partials/scripts') -%>

</html>
