<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

</header>

<!--Main layout-->
<main style="margin-top: 100px; margin-bottom: 70px;">
    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-md-6 text-left">
                <a href="/projects" class="text-dark zoom font-weight-bold">
                    <i class="far fa-arrow-alt-circle-left"></i> All Projects
                </a>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" class="urlCopy">
                    <span class="text-dark font-weight-bold">Share This Post <i class="fas fa-share-alt"></i></span>
                </a>
            </div>
        </div>
        <h1 class="display-4 font-weight-bold text-center text-dark">
            <%= nevada.title %>
        </h1>
        <div class="mt-5">
            <div class="row">
                <div class="col-md-6 p-2">
                    <p class="lead text-dark">
                        <%= nevada.body %>
                    </p>
                </div>
                <div class="col-md-6 p-2">
                    <img src="<%= nevada.image %>" height="100%" width="100%" class="img-fluid rounded shadow-lg" alt="<%= nevada.title %>">
                    <p class="text-dark mt-3">
                        Date Posted: <%= nevada.datePosted.toLocaleString() %>, By <%= nevada.userid.username %>
                    </p>
                    <% if(loggedIn){ %>
                        <a href="/delete/nevada/<%= nevada._id %>" class="btn btn-warning btn-large">Delete Post</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Main layout-->


<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->

<!-- End your project here-->
</body>

<%- include('partials/scripts') -%>

</html>
