<div class="col-lg-12 p-2 text-center mb-7">
    <h2 class="display-5">Our Projects In Arizona</h2>
    <div class="row justify-content-center align-items-center text-center mx-auto d-flex py-3 me-2">
        <% for(i=0; i < arizonaPost.length; i++){ %>
            <div class="my-3 hover-zoom text-center" style="max-width: 22rem;">
                <a href="/singleArizona/<%= arizonaPost[i]._id %>">
                    <img src="<%= arizonaPost[i].image %>"
                         class="img-fluid w-100" alt="<%= arizonaPost[i].title %>">
                </a>
            </div>
        <% } %>
    </div>
</div>

<div class="col-lg-12 p-2 text-center mb-7">
    <h2 class="display-5">Our Projects In Nevada</h2>
    <div class="row justify-content-center align-items-center text-center mx-auto d-flex py-3 me-2">
        <% for(i=0; i < nevadaPost.length; i++){ %>
            <div class="my-3 hover-zoom text-center" style="max-width: 22rem;">
                <a href="/singleNevada/<%= nevadaPost[i]._id %>">
                    <img src="<%= nevadaPost[i].image %>"
                         class="img-fluid w-100" alt="<%= nevadaPost[i].title %>">
                </a>
            </div>
        <% } %>
    </div>
</div>

<div class="col-lg-12 p-2 text-center mb-7">
    <h2 class="display-5">Our Projects In Hawaii</h2>
    <div class="row justify-content-center align-items-center text-center mx-auto d-flex py-3 me-2">
        <% for(i=0; i < hawaiiPost.length; i++){ %>
            <div class="my-3 hover-zoom text-center" style="max-width: 22rem;">
                <a href="/singleHawaii/<%= hawaiiPost[i]._id %>">
                    <img src="<%= hawaiiPost[i].image %>"
                         class="img-fluid w-100" alt="<%= hawaiiPost[i].title %>">
                </a>
            </div>
        <% } %>
    </div>
</div>

<div class="col-lg-12 p-2 text-center">
    <h2 class="display-5">Our Projects In California</h2>
    <div class="row justify-content-center align-items-center text-center mx-auto d-flex py-3 me-2">
        <% for(i=0; i < californiaPost.length; i++){ %>
            <div class="my-3 hover-zoom text-center" style="max-width: 22rem;">
                <a href="/singleCalifornia/<%= californiaPost[i]._id %>">
                    <img src="<%= californiaPost[i].image %>"
                         class="img-fluid w-100" alt="<%= californiaPost[i].title %>">
                </a>
            </div>
        <% } %>
    </div>
</div>
